@import url('https://fonts.googleapis.com/css2?family=Lora&family=Raleway&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway';
}

h2 {
	font-family: 'Lora';
	font-size: 1.2rem;
}

body {
	/* overflow: hidden;
	position: absolute;  */
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	display: flex;
	justify-content: center;
	/* align-items: center;   */
	background-color: #230612;
}
